body {
    background-color: #252c34;
    color: #8f6856;
}

header {
    padding-top: 30px;
}

h1, h4 {
    font-family: 'Rakkas', cursive;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-size: 32px;
}

span {
    font-size: 40px;
}